음란물, 음란물 링크를 게시하지 마세요.
패드립을 비롯한 다른 유저에게 모욕을 주는 말을 사용하지 마세요.
해당 서버에서의 분쟁은 허용되지 않습니다.
디스코드 서버 초대링크를 비롯한 유튜브, 트위치, 아프리카 등 해당 서버와 관련없는 링크를 게시하지 마세요.
홍보, 타서버, 타게임 언급을 하지 마세요. (특정상황에서는 허용)
단타 및 장타의 도배는 금지됩니다.
과도한 유저 언급과 역할 언급은 금지됩니다.
모든 채널에서 채널명/주제와 관련있는 메세지만 작성해주세요.
명령어, 디스코드의 관리자 기능을 시도하지 마세요.
명령어는 명령어 채널을 사용해주세요.
관리자 맨션은 금지됩니다.
규칙을 모르고 규칙을 어긴경우 가중처벌이 될 수 있습니다.




인게임 규칙

link 금지
kill 금지
tp all 금지
fly 금지
ff 금지
god 금지
freeze 금지
jail 금지
speed 금지
dog 금지
size 금지
music 금지
volume 금지
smite 금지
mute 금지
noclip 금지
gear 금지
sword 금지
spin 금지
m 금지 (공지 제외)
n 금지 (공지 제외)
h 금지 (공지 제외)

자신보다 낮은 계급의 사람을 무시할 경우 해고


게임에서의 경고는 디스코드에서의 경고와 일부 연동될 수 있다는 것을 알려드립니다.
