장타 도배 및 단타 도배 금지.
타서버, 홍보 링크 등 홍보 금지.
채널 주제에 맞지 않는 대화 금지.
패드립 및 성드립, 타인에게 모욕감을 주는 발언 금지.
통화방 등에서 타인에게 피해를 끼치는 행위 금지. (예/소리를 지르는 등 행위)
혐오스러운 이미지, 영상 등 업로드 금지.
타인에게 소외감을 주는 과도한 친목 행위 금지.
타인 또는 본인의 개인정보 업로드 금지.
해킹, 멀웨어 등 불법 프로그램 업로드 금지.

https://discord.com/guidelines
https://discord.com/terms

디스코드 서비스 이용약관과 커뮤니티 서버 지침을 준수해주세요.
규칙 미숙지로 인한 피해는 책임지지 않습니다.
규칙 추가는 @글로드#0135 로 알려주세요.
